.center{
	margin:0 auto;
	display:block
}

.pure-g [class*="pure-u"],.pure-g-r [class*="pure-u"],body{
	font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif
}

a{
	color:#64b7ff
}

.whiteSection{
	background-color:#fff;
	color:#222
}

.darkSection{
	background-color:#222;
	color:#fff;
	padding:50px 20px
}

.blueSection{
	background-color:#58ACFA;
	color:#fff;
	padding:50px 20px;
}

.darkSection p{
	color:#ddd
}

.blueSection p{
	color:#FFF;
}

.darkSection h1,.whiteSection h1, .blueSection h1{
	margin:0;
	padding:20px 0 10px
}

.darkSection p,.whiteSection p, .blueSection p{
	margin:0;
	padding:10px 0
}

.darkSection h3,.whiteSection h3, .blueSection h3{
	margin:0;
	padding:20px 0 0
}

.text img{
	padding:10px
}

.footerSection{
	background-color:#222;
	color:#555;
	text-align:center;
	padding:30px 0 10px
}

.footerSection a{
	color:#555
}

/*
.blueSection{
	background-color:#37658d
}

.blueSection p{
	color:#a7d5fd
}
*/
.hack_logo{
	height:70%;
	width:70%;
    margin:auto;
}

.heroOverlay{
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	position:fixed;
	background-color:rgba(255,255,255,.4);
	height:100%;
	width:100%;
	z-index:-90
}

.heroSection{
	color:#fff;
	top:46px;
	position:relative;
	margin-bottom:46px;
	width:100%;
	z-index:1;
	padding-top:40px;
	padding-bottom:40px
}

@media (max-width:767px){
	.heroSection{
		position:static;
		background-color:#000;
		-webkit-background-size:inherit;
		-moz-background-size:inherit;
		background-size:inherit;
		background-position:right top;
		background-image:url(../img/hero_bg_dark_small_gradient.png) no-repeat;
		margin-bottom:0
	}

}

.hero-logo{
	padding:80px 0;
    margin:auto;
}

.hero-logo .img{
	display:block;
	width:70%;
	height:70%
}

.hero-subtitle{
	font-size:32px;
	font-weight:700;
	line-height:52px;
	text-shadow:0 0 6px rgba(0,0,0,.5);
	margin-left:248px
}

.hero-catch-phrase{
	padding:80px 0;
	text-shadow:0 0 6px rgba(0,0,0,.5)
}

.center-container{
	text-align:center
}

.center-container form{
	display:inline-block
}

.alert{
	padding:20px;
	margin-bottom:20px;
	font-size:22px;
	display:block
}

.hero-signup button,.hero-signup input{
	vertical-align:bottom;
	margin-bottom:10px;
	font-size:20px
}

@media (max-width:767px){
	.hero-signup button,.hero-signup input{
		width:100%
	}

}

.free-text{
	width:767px;
	margin-left:auto;
	margin-right:auto
}

.free-text a{
	color:#222
}

@media (max-width:767px){
	.free-text{
		width:90%
	}

}

.videoThumb{
	width:300px;
	height:174px;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow:0 0 8px rgba(0,0,0,.3);
	box-shadow:0 0 8px rgba(0,0,0,.3)
}

.videoThumb>a{
	width:300px!important;
	height:174px!important
}

.videoThumb i{
	display:inline-block;
	font-size:50px;
	color:#fff;
	position:relative;
	left:135px;
	top:-90px;
	margin-top:-50px;
	z-index:1
}

.fade-hover{
	display:inline-block;
	vertical-align:middle;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
	position:relative;
	overflow:hidden
}

.fade-hover:before{
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background:#000;
	height:100%;
	opacity:0;
	-ms-filter:"alpha(Opacity=0)";
	filter:alpha(opacity=0);
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-o-transition-property:opacity;
	-ms-transition-property:opacity;
	transition-property:opacity;
	-webkit-transition-duration:.2s;
	-moz-transition-duration:.2s;
	-o-transition-duration:.2s;
	-ms-transition-duration:.2s;
	transition-duration:.2s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	-ms-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}

.fade-hover:active:before,.fade-hover:focus:before,.fade-hover:hover:before{
	opacity:.3;
	-ms-filter:"alpha(Opacity=30)";
	filter:alpha(opacity=30)
}

button{
	background-color:#37658d
}

input[type=email].hero-signup-email{
	width:95%
}

@media (max-width:767px){
	input[type=email].hero-signup-email{
		width:100%
	}

}

select.hero-signup-power{
	padding:.5em .6em .4em;
	height:28px;
	font-size:14px;
	line-height:1.428571429;
	background-color:#fff;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	border-radius:4px
}

@media (max-width:767px){
	select.hero-signup-power{
		width:100%
	}

}

.hero-devices-headline{
	text-align:center;
	padding-bottom:50px;
	font-size:24px
}

.site-menu{
	position:fixed;
	width:100%;
	text-transform:uppercase;
	top:0;
	z-index:2
}

.site-menu>ul{
	float:right
}

.site-menu a{
	background:#000;
	color:#fff;
	font-size:16px;
	padding:14px 0;
	text-decoration:none;
	text-align:center
}

.site-menu a:focus{
	outline:0
}

.site-menu a:hover{
	color:#c0eeff
}

@media (max-width:767px){
	.site-menu{
		position:static
	}

}

.sponsorSection{
	background:#fff;
	padding:50px 0
}

.sponsorSection a{
	height:140px;
	background-position:center;
	-webkit-background-size:75% auto;
	-moz-background-size:75% auto;
	background-size:75% auto;
	background-repeat:no-repeat
}

@media (max-width:767px){
	.sponsorSection a{
		height:70px;
		-webkit-background-size:auto 75%;
		-moz-background-size:auto 75%;
		background-size:auto 75%
	}

}

.largeSectionHeadline{
	text-align:center
}

.largeSectionHeadline h1{
	font-size:3em;
	margin:0;
	text-transform:uppercase;
/*text-shadow:2px 2px #eee */
}

.smallSectionHeadline{
	text-align:center
}

.smallSectionHeadline h1{
	font-size:1.2em;
	margin:0;
	text-transorm:uppercase
}

.smallText{
	font-size:.8em
}

.verticalSpace h1{
	margin-top:50px
}

.verticalSpaceSmall{
	margin-top:32px
}

@media (max-width:767px){
	a.imakr,a.playfaircapital{
		height:100px;
		-webkit-background-size:auto 100%;
		-moz-background-size:auto 100%;
		background-size:auto 100%
	}

}

.pure-form legend{
	color:#fff
}

.history-text{
	padding:0 20px
}

.history-image{
	padding:0 20px 0 0
}

.deviceSection{
	padding:50px 0
}

.device{
	text-align:center;
	background-repeat:no-repeat;
	-webkit-background-size:auto 80%;
	-moz-background-size:auto 80%;
	background-size:auto 80%;
	background-position:center center;
	height:80px
}

.prize{
	padding:30px 0;
	text-align:center
}

.prize-value{
	font-size:2em
}

.prize-description{
	padding:10px 0;
	font-size:1.1em
}

.prize-sponsor{
	color:#ddd
}

p.prizes-text{
	padding-top:50px
}

.contact-text{
	text-align:center;
	padding-top:40px
}

.sponsors{
	padding-top:60px
}

.twitter-display{
	background-color:rgba(255,255,255,.8);
	height:200px;
	padding:0 20px 0 30px
}

.twitter-display ul{
	margin:0;
	padding:0
}

.twitter-display li{
	list-style:none
}

.twitter-display p{
	font-size:2em;
	margin:0
}

@media (max-width:767px){
	.twitter-display p{
		font-size:1em
	}

}

.twitter-display a{
	color:#37658d;
	text-decoration:none
}

.twitter-icon{
	line-height:200px;
	font-size:132px;
	color:#37658d
}

@media (max-width:767px){
	.twitter-icon{
		text-align:center
	}

}

.interact{
	display:none
}

#map-canvas{
	width:500px;
	height: 400px;
	background-color:#CCC;
	display: block;
    margin-left: auto;
    margin-right: auto 
}
